body{display:flex;
     flex-direction:column;
    align-items:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.heading{width:600px;
         height:2em;
         margin-top: 50px;
         margin-bottom: 70px;
        background:rgb(219, 214, 214);}
.display{display:flex;
          width:800px;
          margin-bottom: 40px;
         justify-content: space-between;}
.display1, .display2, .display3{height:120px;
                                width:120px;
                                border-radius:15px;
                               border-style: groove;}
.display1{background: gray;
color:white;}
.display2{background: rgb(180, 179, 179);}
.display3{background: rgb(241, 241, 241);}
.rectangle1, .rectangle2, .rectangle3{width:800px;
                                        height:70px;
                                        background: rgb(192, 192, 192);
                                    border-style: groove;}
.rectangle1{ margin-bottom: 20px;}
.rectangle2{ margin-bottom: 20px;}
.name{width:200px;
    height:1.5em;
    border-style: solid;
    background: gray;
    border-width: 0px;
 }